/* General Reset and Base Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* Landing Section */

.landing {
	width: 100%;
	height: 100vh;
	background-image: url("https://i.postimg.cc/W18djKJ3/page-1-copy.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 50px; /* distance from bottom */
}

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 50px;
	border-radius: 15px;
}

.landing h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.landing button {
	background: #66bb6a;
	color: white;
	padding: 15px 95px;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s;
}

.landing button:hover {
	background: #388e3c;
}

/* Registration Section */
#registration {
	background-color: #e8f5e9;
	min-height: 100vh;
	padding: 40px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 500px;
	background: #2e7d32;
	padding: 40px 30px;
	border-radius: 12px;
	color: white;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

.form-group {
	margin-bottom: 20px;
	text-align: left;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 6px;
	font-size: 16px;
}

input,
select {
	width: 100%;
	padding: 12px;
	border-radius: 6px;
	border: none;
	font-size: 16px;
	background: #fff;
	color: #333;
	box-sizing: border-box;
}

button {
	width: 100%;
	padding: 14px;
	font-size: 18px;
	background: #1b5e20;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.3s ease;
}

button:hover {
	background: #66bb6a;
}

/* Delegate Card */
.delegate-card {
	position: relative;
	width: 600px;
	height: 100vh;
	/* background-image: url("https://i.postimg.cc/sg4QfdyZ/delegate-copy-1.jpg"); */
	background-image: url("./assets/delegate\ copy_batcheditor_fotor\ copy.jpg");
	background-size: cover;      
	background-repeat: no-repeat;
	display: none;
	margin: auto;
}

.card-info {
	width: 100%;
	height: 100%;
	position: relative;
}

.photo {
	width: 150px;
	height: 180px;
	position: absolute;
	top: 400px;
	left: 100px;
	overflow: hidden;
	border-radius: 5px;
}

.photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	position: absolute;
	bottom: 0px;
	left: 110px;
	text-align: start;
	color: black;
	border-radius: 15px;
	padding: 5px;
}
.info p {
	margin: 0;
}

.download-btn {
	margin-top: 15px;
	padding: 10px;
	font-size: 16px;
	background: #2e7d32;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


/* Styles for medium screens */
@media screen and (min-width: 641px) and (max-width: 1024px) {
	.landing h1 {
		font-size: 24px;
		padding: 0 10px;
	}

	.landing button {
		font-size: 14px;
		padding: 10px 16px;
	}

	.overlay {
		padding: 30px 20px;
	}

	#registration {
		padding: 30px 15px;
		align-items: flex-start;
	}

	.container {
		padding: 25px 20px;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		border-radius: 10px;
	}

	label {
		font-size: 14px;
	}

	input,
	select {
		padding: 10px;
		font-size: 14px;
	}

	button {
		padding: 12px;
		font-size: 16px;
	}

	.delegate-card {
		width: 100%;
		/* height: auto; */
		background-size: contain;
		background-position: center;
	}
	.photo {
		top: 48%;
		left: 34%;
		width: 150px;
		height: 180px;

		border-radius: 5px;
		transform: translateX(-50%);
		overflow: hidden;
	}

	.info {
		bottom: 20%;
		left: 20%;
		text-align: start;
		color: black;
		padding: 5px;
		font-size: 30px;

	}
}

/* Tablet View (641px–1024px) */
/* Styles for small screens */
@media screen and (min-width: 401px) and (max-width: 640px) {
	.landing h1 {
		font-size: 24px;
		padding: 0 10px;
	}

	.landing button {
		font-size: 14px;
		padding: 10px 16px;
	}

	.overlay {
		padding: 30px 20px;
	}

	#registration {
		padding: 30px 15px;
		align-items: flex-start;
	}

	.container {
		padding: 25px 20px;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		border-radius: 10px;
	}

	label {
		font-size: 14px;
	}

	input,
	select {
		padding: 10px;
		font-size: 14px;
	}

	button {
		padding: 12px;
		font-size: 16px;
	}

	.delegate-card {
		width: 100%;
		/* height: auto; */
		background-size: contain;
		background-position: center;
	}

	.photo {
		top: 48%;
		left: 34%;
		width: 125px;
		height: 150px;

		border-radius: 5px;
		transform: translateX(-50%);
		overflow: hidden;
	}

	.info {
		bottom: 26%;
		left: 20%;
		text-align: start;
		color: black;
		padding: 5px;
	}

	.download-btn {
		font-size: 14px;
		padding: 8px 12px; 
		margin-top: 10px;
	}
}

/* Mobile View (≤640px) */
/* Styles for very small screens */
@media screen and (max-width: 400px) {
	.landing h1 {
		font-size: 24px;
		padding: 0 10px;
	}

	.landing button {
		font-size: 14px;
		padding: 10px 16px;
	}

	.overlay {
		padding: 30px 20px;
	}

	#registration {
		padding: 30px 15px;
		align-items: flex-start;
	}

	.container {
		padding: 25px 20px;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		border-radius: 10px;
	}

	label {
		font-size: 14px;
	}

	input,
	select {
		padding: 10px;
		font-size: 14px;
	}

	button {
		padding: 12px;
		font-size: 16px;
	}

	.delegate-card {
		width: 100%;
		/* height: auto; */
		background-size: contain;
		background-position: center;
	}

	.photo {
		top: 48%;
		left: 20%;
		width: 25%;
		height: 15%;
		/* width: 80px;
		height: 110px; */
		border: 1px solid #000;
	}

	.info {
		bottom: 30%;
		left: 20%;
		font-size: 10px;
		width: 70%;
	}

	.download-btn {
		font-size: 14px;
		padding: 8px 12px;
	}
}

/* Mobile View (≤640px) */
/* @media screen and (max-width: 640px) {
	.landing h1 {
		font-size: 24px;
		padding: 0 10px;
	}

	.landing button {
		font-size: 14px;
		padding: 10px 16px;
	}

	.overlay {
		padding: 30px 20px;
	}

	#registration {
		padding: 30px 15px;
		align-items: flex-start;
	}

	.container {
		padding: 25px 20px;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		border-radius: 10px;
	}

	label {
		font-size: 14px;
	}

	input,
	select {
		padding: 10px;
		font-size: 14px;
	}

	button {
		padding: 12px;
		font-size: 16px;
	}

	 .delegate-card {
		width: 100%;
		//height: auto;
		background-size: contain;
		background-position: center;
	}

	.photo {
		top: 45%;
		left: 20%;
		width: 25%;
		height: 25%;
		top: 50%;
		left: 20%;
		width: 100px;
		height: 130px;
		width: 150px;
		height: 180px;
		top: 400px;
		left: 100px;
	}

	.info {
		bottom: 30px;
		left: 15%;
		font-size: 12px;
		width: 70%;
	}

	.download-btn {
		font-size: 14px;
		padding: 8px 12px;
	}
} */

/* @media screen and (max-width: 500px) {
	.landing h1 {
		font-size: 24px;
		padding: 0 10px;
	}

	.landing button {
		font-size: 14px;
		padding: 10px 16px;
	}

	.overlay {
		padding: 30px 20px;
	}

	#registration {
		padding: 30px 15px;
		align-items: flex-start;
	}

	.container {
		padding: 25px 20px;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		border-radius: 10px;
	}

	label {
		font-size: 14px;
	}

	input,
	select {
		padding: 10px;
		font-size: 14px;
	}

	button {
		padding: 12px;
		font-size: 16px;
	}

	 .delegate-card {
		width: 100%;
		//height: auto;
		background-size: contain;
		background-position: center;
	}

	.photo {
		top: 48%;
		left: 21%;
		width: 25%;
		height: 15%;
		top: 50%;
		left: 20%;
		width: 100px;
		height: 130px;
		width: 150px;
		height: 180px;
		top: 400px;
		left: 100px;
	}

	.info {
		bottom: 30px;
		left: 15%;
		font-size: 12px;
		width: 70%;
	}

	.download-btn {
		font-size: 14px;
		padding: 8px 12px;
	}
} */
